.Wrapper {
    font-family: Helvetica;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.Header {
    background-color: #512da8;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: 70px;
}

.PageLogo {
    width: 150px;
    height: 70px;
    background: url(Images/librariesLogo.jpg) no-repeat center ;
    background-size: contain;
}

.mynavbar {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

    .mynavbar a {
        cursor: pointer;
        height: 100%;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fafafa;
        text-shadow: 1px 1px 1px #777;
        transition: background-color .2s;
        font-size: 18px;
    }

        .mynavbar a:hover {
            text-decoration: none;
            background-color: #3a2166;
            cursor: pointer;
            color: whitesmoke;
            font-size: 22px;
        }

.myContainer {
    background-color: #f7f5fb;
    flex: 1;
    padding: 30px;
}

#VideoSection {
    width: 640px;
    margin: 0 auto;
}

.Wrapper footer {
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    align-self: flex-end;
    width: 100vw;
    margin-top: auto;
}

#map {
    width: 100%;
    height: 500px;
}