@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>

<br /><br />
<div id="home">
    <section>
        <h2>
            Chen's Library
        </h2>
        <p id="library-description">
            In our library, you can find all the books that you want to read and
            even more!!
            Check out the books section for more details and start your amazing experience

        </p>
    </section>
    <hr />
    <section>
        <h2>
            Why its so fun with us
        </h2>
        <video width="640" height="360" id="player1" controls>
            <source src="~/Content/video/vid.mp4" type="video/mp4" />
        </video>
    </section>
    <hr />
    <section>
        <h2>An insight pick</h2>
        <canvas id="picture" width="640" height="360"></canvas>
    </section>
    <hr />
    <section>
        <h2>
            Recommnded book of the month
        </h2>
        <div id="viewerCanvas" style="width: 700px; height: 700px"></div>
    </section>
</div>
<script type="text/javascript">
    google.books.load();

    function initialize() {
        var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
        viewer.load('ISBN:1576906388');
    }

    google.books.setOnLoadCallback(initialize);
</script>

<script type="text/javascript">
    var canvas = document.getElementById('picture');
    var context = canvas.getContext('2d');
    var img = new Image();
    img.onload = function () {
        context.drawImage(img, 0, 0);
    };
    img.src = 'http://www.library.frontofyonge.com/library/cache/file/454FA37B-0ED5-520A-E3C55DE6684FAB95_carouselimages.jpg';

</script>