@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>

<br /><br />
<section id="VideoSection">
    <video width="640" height="360" id="player1" controls>
        <source src="~/Content/video/vid.mp4" type="video/mp4" />
    </video>
</section>
<br /><br />
<section id="RecommendedBook">
    <p>Recommended book of the month</p>
    <div id="viewerCanvas" style="width: 700px; height: 700px"></div>
</section>

<script type="text/javascript">
    google.books.load();

    function initialize() {
        var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
        viewer.load('ISBN:1576906388');
    }

    google.books.setOnLoadCallback(initialize);
</script>